<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <!-- Configuration and Platform -->
        <Configuration>Release</Configuration>
        <Platform>x64</Platform>

        <!-- Publish Directory and Protocol -->
        <PublishDir>..\..\CollapseLauncher-ReleaseRepo\preview-localdev-build</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>

        <!-- Target Framework and Runtime Identifier -->
        <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>

        <!-- Publish Options -->
        <PublishAotSelf>true</PublishAotSelf>

        <!-- Runtime Patch -->
        <TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>
    </PropertyGroup>
</Project>