<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <!-- Configuration and Platform -->
        <Configuration>Release</Configuration>
        <Platform>x64</Platform>

        <!-- Publish Directory and Protocol -->
        <PublishDir>..\..\CollapseLauncher-ReleaseRepo\preview-build</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>

        <!-- Target Framework and Runtime Identifier -->
        <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>

        <!-- Publish Options -->
        <PublishAot>true</PublishAot>
        <SelfContained>true</SelfContained>
        <PublishReadyToRun>false</PublishReadyToRun>
        <PublishTrimmed>true</PublishTrimmed>
        <PublishSingleFile>false</PublishSingleFile>

        <!-- Runtime Patch -->
        <TargetLatestRuntimePatch>true</TargetLatestRuntimePatch>

        <!-- Configure Sentry org and project -->
        <SentryOrg>collapse</SentryOrg>
        <SentryProject>collapse-launcher</SentryProject>
        <!-- Automatically creates a release when building your application. -->
        <SentryCreateRelease>false</SentryCreateRelease>
        <!-- Automatically associates commits with the release. -->
        <SentrySetCommits>false</SentrySetCommits>
        <!-- Optionally provide explicit flags to the set-commits command -->
        <SentrySetCommitOptions>--local</SentrySetCommitOptions>
        <!-- Sends symbols to Sentry, enabling symbolication of stack traces. -->
        <SentryUploadSymbols>true</SentryUploadSymbols>
        <!-- Sends sources to Sentry, enabling display of source context. -->
        <SentryUploadSources>true</SentryUploadSources>

    </PropertyGroup>
</Project>