[submodule "Hi3Helper.Core/Classes/Data/Tools/SevenZipTool/SevenZipExtractor"]
	path = Hi3Helper.Core/Classes/Data/Tools/SevenZipTool/SevenZipExtractor
	url = https://github.com/neon-nyan/SevenZipExtractor
[submodule "Hi3Helper.Http"]
	path = Hi3Helper.Http
	url = https://github.com/neon-nyan/Hi3Helper.Http
[submodule "ColorThief"]
	path = ColorThief
	url = https://github.com/neon-nyan/ColorThief
[submodule "Hi3Helper.EncTool"]
	path = Hi3Helper.EncTool
	url = https://github.com/neon-nyan/Hi3Helper.EncTool
[submodule "InnoSetupHelper/InnoSetupLogParser"]
	path = InnoSetupHelper/InnoSetupLogParser
	url = https://github.com/CollapseLauncher/InnoSetupLogParser
