[submodule "Hi3Helper.Http"]
	path = Hi3Helper.Http
	url = https://github.com/neon-nyan/Hi3Helper.Http
[submodule "ColorThief"]
	path = ColorThief
	url = https://github.com/neon-nyan/ColorThief
[submodule "Hi3Helper.EncTool"]
	path = Hi3Helper.EncTool
	url = https://github.com/CollapseLauncher/Hi3Helper.EncTool
[submodule "InnoSetupHelper/InnoSetupLogParser"]
	path = InnoSetupHelper/InnoSetupLogParser
	url = https://github.com/CollapseLauncher/InnoSetupLogParser
[submodule "Hi3Helper.SharpDiscordRPC"]
	path = Hi3Helper.SharpDiscordRPC
	url = https://github.com/CollapseLauncher/Hi3Helper.SharpDiscordRPC
[submodule "Hi3Helper.Sophon"]
	path = Hi3Helper.Sophon
	url = https://github.com/CollapseLauncher/Hi3Helper.Sophon
[submodule "ImageEx"]
	path = ImageEx
	url = https://github.com/CollapseLauncher/ImageEx
[submodule "SevenZipExtractor"]
	path = SevenZipExtractor
	url = https://github.com/CollapseLauncher/SevenZipExtractor
[submodule "H.NotifyIcon"]
	path = H.NotifyIcon
	url = https://github.com/CollapseLauncher/H.NotifyIcon
