[submodule "Hi3Helper.Core/Classes/Data/Tools/SevenZipTool/SevenZipExtractor"]
	path = Hi3Helper.Core/Classes/Data/Tools/SevenZipTool/SevenZipExtractor
	url = https://github.com/neon-nyan/SevenZipExtractor
[submodule "Hi3Helper.Http"]
	path = Hi3Helper.Http
	url = https://github.com/neon-nyan/Hi3Helper.Http
[submodule "ColorThief"]
	path = ColorThief
	url = https://github.com/neon-nyan/ColorThief
[submodule "Hi3Helper.Core/Classes/Data/Tools/UABT"]
	path = Hi3Helper.Core/Classes/Data/Tools/UABT
	url = https://github.com/neon-nyan/UABT
[submodule "Hi3Helper.Core/Classes/Data/Tools/SharpZipLib"]
	path = Hi3Helper.Core/Classes/Data/Tools/SharpZipLib
	url = https://github.com/neon-nyan/SharpZipLib
