version: '#{build}'
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
skip_branch_with_pr: true
image: Visual Studio 2022
branches:
  only:
  - preview
  - stable
  - nativeaot-test
for:
  -
    branches:
      only:
      - preview
    configuration: Release
    platform: x64
    clone_script:
    - cmd: >-
        git clone -q --branch=preview https://github.com/CollapseLauncher/Collapse.git C:\projects\collapse

        git checkout origin/preview
    install:
    - cmd: >-
        echo Init submodules

        git submodule update --init --force --depth=1 --recursive

        echo.

        echo Install InnoSetup

        set innoinstall=%temp%\innosetup.exe

        curl "https://files.jrsoftware.org/is/6/innosetup-6.2.2.exe" --output %innoinstall%


        cmd /c start /wait %innoinstall% /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-

        echo.

        echo Install dotnet sdk

        choco install dotnet-sdk

        dotnet --version

        echo.



    build_script:
    - cmd: >-
        @echo on

        setlocal enabledelayedexpansion

        echo Setting environments...

        set name=Collapse

        set channel=preview

        set inno="C:\Program Files (x86)\Inno Setup 6\ISCC.exe"

        echo.


        echo Build app...

        dotnet restore

        dotnet publish CollapseLauncher -c Release -p:PublishProfile=Publish-PreviewRelease -p:PublishDir=".\preview-build\"


        echo Getting app version...

        for /f "tokens=2 delims==" %%I in ('wmic datafile where "name='C:\\projects\\collapse\\CollapseLauncher\\preview-build\\CollapseLauncher.exe'" get Version /value ^| find "Version"') do set "version_untrim=%%I"

        set "version=%version_untrim:~0,-2%"

        echo Got version %version%

        echo.


        echo Setting up Deployable Resources...

        mkdir DeployResource

        mkdir DeployResource\app-%version%

        xcopy "CollapseLauncher\%channel%-build\*" "DeployResource\app-%version%\" /E /K /Y /I


        echo Making innosetup file...

        mkdir InnoTarget

        %inno% /O+ /O "InstallerProp\DeployInstaller-%channel%-AppVeyor.iss"

        echo.


        echo Moving all the files into artifact to be pushed to SignPath

        mkdir SignArtifact

        mkdir SignArtifact\BuildArtifact-%version%

        mkdir SignArtifact\InnoInstaller

        xcopy "CollapseLauncher\%channel%-build\*" "SignArtifact\BuildArtifact-%version%\" /E /K /Y /I

        xcopy "InnoTarget\*" "SignArtifact\InnoInstaller\" /E /K /Y /I


        
    test: off
    artifacts:
    - path: SignArtifact\
      name: SignArtifact-Preview

    deploy:
    - provider: Webhook
      url: https://app.signpath.io/API/v1/6988fc60-19f4-4710-8eb7-e837c60c83b4/Integrations/AppVeyor?ProjectSlug=Collapse&SigningPolicySlug=release-signing&ArtifactConfigurationSlug=preview
      authorization:
        secure: B8zpDU6wkKuCBRz65VfTFxUCxY7HniWmRbJP/E3tE40kGmHKdaFnMCDSURQFWwR1pCcXHqbkJd3YX76tnTXQow==
      on:
        branch: preview
    notifications:
    - provider: Email
      to:
      - dzakibagus@gmail.com
      on_build_success: true
      on_build_failure: true
      on_build_status_changed: true

  -
    branches:
      only:
      - stable
    configuration: Publish
    platform: x64
    clone_script:
    - cmd: >-
        git clone -q --branch=stable https://github.com/CollapseLauncher/Collapse.git C:\projects\collapse

        git checkout origin/stable
    install:
    - cmd: >-
        echo Init submodules

        git submodule update --init --force --depth=1 --recursive

        echo.

        echo Install InnoSetup

        set innoinstall=%temp%\innosetup.exe

        curl "https://files.jrsoftware.org/is/6/innosetup-6.2.2.exe" --output %innoinstall%


        cmd /c start /wait %innoinstall% /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-

        echo.

        echo Install dotnet sdk

        choco install dotnet-sdk

        dotnet --version

        echo.



    build_script:
    - cmd: >-
        @echo on

        setlocal enabledelayedexpansion

        echo Setting environments...

        set name=Collapse

        set channel=stable

        set inno="C:\Program Files (x86)\Inno Setup 6\ISCC.exe"

        echo.


        echo Build app...

        dotnet restore

        dotnet publish CollapseLauncher -c Publish -p:PublishProfile=Publish-StableRelease -p:PublishDir=".\stable-build\"


        echo Getting app version...

        for /f "tokens=2 delims==" %%I in ('wmic datafile where "name='C:\\projects\\collapse\\CollapseLauncher\\stable-build\\CollapseLauncher.exe'" get Version /value ^| find "Version"') do set "version_untrim=%%I"

        set "version=%version_untrim:~0,-2%"

        echo Got version %version%

        echo.


        echo Setting up Deployable Resources...

        mkdir DeployResource

        mkdir DeployResource\app-%version%

        xcopy "CollapseLauncher\%channel%-build\*" "DeployResource\app-%version%\" /E /K /Y /I


        echo Making innosetup file...

        mkdir InnoTarget

        %inno% /O+ /O "InstallerProp\DeployInstaller-%channel%-AppVeyor.iss"

        echo.


        echo Moving all the files into artifact to be pushed to SignPath

        mkdir SignArtifact

        mkdir SignArtifact\BuildArtifact-%version%


        mkdir SignArtifact\InnoInstaller

        xcopy "CollapseLauncher\%channel%-build\*" "SignArtifact\BuildArtifact-%version%\" /E /K /Y /I

        xcopy "InnoTarget\*" "SignArtifact\InnoInstaller\" /E /K /Y /I

        
    test: off
    artifacts:
    - path: SignArtifact\
      name: SignArtifact-Stable

    deploy:
    - provider: Webhook
      url: https://app.signpath.io/API/v1/6988fc60-19f4-4710-8eb7-e837c60c83b4/Integrations/AppVeyor?ProjectSlug=Collapse&SigningPolicySlug=release-signing&ArtifactConfigurationSlug=initial
      authorization:
        secure: B8zpDU6wkKuCBRz65VfTFxUCxY7HniWmRbJP/E3tE40kGmHKdaFnMCDSURQFWwR1pCcXHqbkJd3YX76tnTXQow==
      on:
        branch: stable
    notifications:
    - provider: Email
      to:
      - dzakibagus@gmail.com
      on_build_success: true
      on_build_failure: true
      on_build_status_changed: true


  -
    branches:
      only:
        - nativeaot-test
    configuration: Release
    platform: x64
    clone_script:
      - cmd: >-
          git clone -q --branch=nativeaot-test https://github.com/CollapseLauncher/Collapse.git C:\projects\collapse
          
          git checkout origin/nativeaot-test
    install:
      - cmd: >-
          echo Init submodules
          
          git submodule update --init --force --depth=1 --recursive
          
          echo.
          
          echo Install InnoSetup
          
          set innoinstall=%temp%\innosetup.exe
          
          curl "https://files.jrsoftware.org/is/6/innosetup-6.2.2.exe" --output %innoinstall%
          
          
          cmd /c start /wait %innoinstall% /VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-
          
          echo.
          
          echo Install dotnet sdk
          
          choco install dotnet-sdk --pre
          
          dotnet --version
          
          echo.



    build_script:
      - cmd: >-
          @echo on
          
          setlocal enabledelayedexpansion
          
          echo Setting environments...
          
          set name=Collapse
          
          set channel=preview
          
          set inno="C:\Program Files (x86)\Inno Setup 6\ISCC.exe"
          
          echo.
          
          
          echo Build app...
          
          dotnet restore
          
          dotnet publish CollapseLauncher -c Release -p:PublishProfile=Publish-PreviewReleaseAOT -p:PublishDir=".\preview-build\"
          
          
          echo Getting app version...
          
          for /f "tokens=2 delims==" %%I in ('wmic datafile where "name='C:\\projects\\collapse\\CollapseLauncher\\preview-build\\CollapseLauncher.exe'" get Version /value ^| find "Version"') do set "version_untrim=%%I"
          
          set "version=%version_untrim:~0,-2%"
          
          echo Got version %version%
          
          echo.
          
          
          echo Setting up Deployable Resources...
          
          mkdir DeployResource
          
          mkdir DeployResource\app-%version%
          
          xcopy "CollapseLauncher\%channel%-build\*" "DeployResource\" /E /K /Y /I
          
          
          echo Making innosetup file...
          
          mkdir InnoTarget
          
          %inno% /O+ /O "InstallerProp\DeployInstaller-%channel%-AppVeyor.iss"
          
          echo.
          
          
          echo Moving all the files into artifact to be pushed to SignPath
          
          mkdir SignArtifact
          
          mkdir SignArtifact\BuildArtifact-%version%
          
          mkdir SignArtifact\InnoInstaller
          
          xcopy "CollapseLauncher\%channel%-build\*" "SignArtifact\BuildArtifact-%version%\" /E /K /Y /I
          
          xcopy "InnoTarget\*" "SignArtifact\InnoInstaller\" /E /K /Y /I
    
    
    
    test: off
    artifacts:
      - path: SignArtifact\
        name: SignArtifact-Preview

    deploy:
      - provider: Webhook
        url: https://app.signpath.io/API/v1/6988fc60-19f4-4710-8eb7-e837c60c83b4/Integrations/AppVeyor?ProjectSlug=Collapse&SigningPolicySlug=test-signing&ArtifactConfigurationSlug=preview-aot
        authorization:
          secure: B8zpDU6wkKuCBRz65VfTFxUCxY7HniWmRbJP/E3tE40kGmHKdaFnMCDSURQFWwR1pCcXHqbkJd3YX76tnTXQow==
        on:
          branch: nativeaot-test
    notifications:
      - provider: Email
        to:
          - dzakibagus@gmail.com
        on_build_success: true
        on_build_failure: true
        on_build_status_changed: true