<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishDir>..\CollapseLauncher\Deps</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>netframework462</TargetFramework>
    <RuntimeIdentifier>win7-x64</RuntimeIdentifier>
    <!--<PublishReadyToRun>true</PublishReadyToRun>-->
  </PropertyGroup>
</Project>