# Credits to @Scighost from Starward for his contributions!
name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]
        platform: [x64]

    env:
      Configuration: ${{ matrix.configuration }}
      Platform: ${{ matrix.platform }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1

    - name: Restore
      run: dotnet restore CollapseLauncher

    - name: Build
      run: |
        msbuild CollapseLauncher "-property:Configuration=$env:Configuration;Platform=$env:Platform"
        dotnet build CollapseLauncher -c $env:Configuration -p:Platform=$env:Platform -f net7.0-windows10.0.22000.0
    
    - name: Upload Artifact (Debug)
      uses: actions/upload-artifact@v3.1.2
      if: ${{ matrix.configuration == 'Debug' }}
      with:
          name: collapse_${{ matrix.platform }}-${{ matrix.configuration }}
          path: ./CollapseLauncher/bin/x64/Debug/net7.0-windows10.0.22000.0/
          
    - name: Upload Artifact (Release)
      uses: actions/upload-artifact@v3.1.2
      if: ${{ matrix.configuration == 'Release' }}
      with:
          name: collapse_${{ github.head_ref }}.${{ github.sha }}.{{ matrix.platform }}-${{ matrix.configuration }}
          path: ./CollapseLauncher/bin/x64/Release/net7.0-windows10.0.22000.0/
