name: Qodana
on:
    workflow_dispatch:
    schedule:
        - cron: '0 0 * * 0' # At 00:00 on Sunday
    pull_request:
    branches:
        - main

jobs:
    qodana:
    runs-on: ubuntu-latest
    permissions:
        contents: write
        pull-requests: write
        checks: write
    steps:
        - uses: actions/checkout@v3
        with:
            ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
            fetch-depth: 0  # a full history is required for pull request analysis
            submodules: recursive # many many submodules
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v2023.2.6
        env:
            QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }} # read the steps about it below